.dialog-conteiner {
  background: red;
  position: fixed;
  width: 60%;
  height: 60%;
  margin: 5% auto;
  left: 0;
  right: 0;
  &.closed {
    display: none;
  }
  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
