.profile-conteiner {
  margin-top: 4rem;
  background: #7a7676;
  width: 70%;
  display: flex;
  margin: 0 auto;
  gap: 6rem;
  padding: 1rem 3rem;
  .user-avatar {
    display: flex;
    flex-direction: column;
    background: #efefef;
    img {
      object-fit: cover;
    }
  }
  .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
